<template>
    <div class="mainblock">
        <h1 class="red">{{ message }}</h1>
        <div class="white left-align data" v-if="videos && videos.length > 0">
            <div v-for="(movie) in videos" v-bind:key="movie.name" class="row countdown-item"
                style="padding-left: 10px; width: 100%;">
                <div class="col-sm-3 col-full-xs img-thumb">
                    <router-link :to="movie.rottenTomato.imgUrl" class="article_movie_poster">
                        <div><img class="article_poster" :src="movie.rottenTomato.imgUrl" alt="" sborder=""
                                style="border-color: #EEEEEE; border-style: solid; border-width: 1px;">
                        </div>
                    </router-link>
                </div>
                <div class="col-78 col-full-xs countdown-item-content">
                    <div class="row row-sub countdown-item-title-bar">
                        <div class="col-full-xs" style="height: 100%;">
                            <div class="article_movie_title" style="float: left;">
                                <div>
                                    <h2>
                                        <router-link :to="'/movie/' + movie.name" class="red">{{ movie.name }}
                                        </router-link>
                                    </h2> <br />
                                    <span class="red">Tomato Meter: </span>
                                    <h5 class="white">{{ movie.rottenTomato.tomatoMeter.score }}% /
                                        {{ movie.rottenTomato.tomatoMeter.count }} total</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-title-bar">
                        <div class="col-full-xs" style="height: 100%;">
                            <div class="article_movie_title" style="float: left;">
                                <div>
                                    <span class="red">Audience Score: </span>
                                    <h5 class="white">{{ movie.rottenTomato.audienceScore.score }}% /
                                        {{ movie.rottenTomato.audienceScore.count }} ratings</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-title-bar">
                        <div class="col-full-xs" style="height: 100%;">
                            <div class="article_movie_title" style="float: left;">
                                <div>
                                    <span class="red">IMDB Rating: </span>
                                    <h5 class="white"><a class="white"
                                            :href="movie.imdb.url + movie.imdb.ratingUrl">{{ movie.imdb.rating }}</a> /
                                        {{ movie.imdb.count }} total</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-title-bar">
                        <div class="col-full-xs" style="height: 100%;">
                            <div class="article_movie_title" style="float: left;">
                                <div>
                                    <span class="red">Aggregate median rating: </span>
                                    <star-rating inactive-color="white" active-color="red" :increment="0.01"
                                        :rating="(movie.rottenTomato.tomatoMeter.score + movie.rottenTomato.audienceScore.score + movie.imdb.rating * 10.0) / 30.0"
                                        :fixed-points="2" :max-rating="10" :star-size="20" :border-width="1"
                                        border-color="red" :read-only="true"></star-rating>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div>
                            <span class="red">Critic Consensus: </span>
                            {{ movie.rottenTomato.criticConsensus }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Info: </span>
                            {{ movie.rottenTomato.info }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Short info: </span>
                            {{ movie.imdb.info }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Storyline: </span>
                            {{ movie.imdb.storyline }}
                        </div>
                    </div>
                    <div class="row countdown-item-details">
                        <div class="small-font">
                            <span class="red">Genre: </span>
                            <template v-for="cathash in catshashes(movie.name)">
                                &nbsp;<router-link class="yellow" :to="'/genre/' + cathash + ''" v-bind:key="cathash">
                                    #{{ cathash }}</router-link>
                            </template>
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Rating: </span>
                            {{ movie.rottenTomato.rating }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Genre: </span>
                            {{ movie.rottenTomato.genre }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Directed by: </span>
                            {{ movie.rottenTomato.directedBy }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Written by: </span>
                            {{ movie.rottenTomato.writtenBy }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Release date: </span>
                            {{ movie.rottenTomato.inTheaters }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">On disc: </span>
                            {{ movie.rottenTomato.onDisc }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Run time: </span>
                            {{ movie.rottenTomato.runtime }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div class="small-font">
                            <span class="red">Studio: </span>
                            {{ movie.rottenTomato.studio }}
                        </div>
                    </div>
                    <div class="row row-sub countdown-item-details">
                        <div>
                            <span class="red">Additional information: </span><br />
                            <div class="small-font">
                                <a :href="movie.imdb.url + movie.imdb.certificationsUrl" class="green">Parental
                                    guide</a><br />
                                <a :href="movie.imdb.url + movie.imdb.taglinesUrl" class="green">Taglines</a><br />
                                <a :href="movie.imdb.url + movie.imdb.filmingLocationsUrl" class="green">Filming
                                    locations</a><br />
                                <a :href="movie.imdb.url + movie.imdb.releaseInfoUrl" class="green">Release
                                    info</a><br />
                                <a :href="movie.imdb.url + movie.imdb.technicalSpecsUrl" class="green">Technical
                                    specification</a><br />
                                <a :href="movie.imdb.url + movie.imdb.soundTracksUrl" class="green">Sound
                                    track</a><br />
                                <a :href="movie.imdb.url + movie.imdb.triviaUrl" class="green">Trivia</a><br />
                                <a :href="movie.imdb.url + movie.imdb.goofsUrl" class="green">Goofs</a><br />
                                <a :href="movie.imdb.url + movie.imdb.quotesUrl" class="green">Quotes</a><br />
                                <a :href="movie.imdb.url + movie.imdb.crazyCreditsUrl" class="green">Crazy
                                    credits</a><br />
                                <a :href="movie.imdb.url + movie.imdb.alternateVersionsUrl" class="green">Alternative
                                    version</a><br />
                                <a :href="movie.imdb.url + movie.imdb.connectionsUrl" class="green">Movie
                                    connections</a><br />
                                <a :href="movie.imdb.url + movie.imdb.faqUrl" class="green">FAQ</a><br />
                                <a :href="movie.imdb.url + movie.imdb.awardsUrl" class="green">Awards and
                                    nominations</a><br />
                                <a :href="movie.rottenTomato.url" class="green">Rotten Tomatoes</a><br />
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="red hr800" />
                <div class="brain-container" v-if="demon = calcDemon()">
                    <img :src="demon.url" class="demon" :alt="demon.alt" :title="demon.alt" width="160" height="auto" />
                </div>
                <div id="disqus_thread"></div>
                <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://centralbrainz.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
            </div><br>
            <hr class="red hr800" />
            <div class="brain-container">
                <img class="flip" width="320" height="auto" src="/static/centralbrainz.png" />
            </div>
        </div>
    </div>
</template>